<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Quiz management</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Content
              </th>
              <th>
                Type
              </th>
              <th>
                Level
              </th>
              <th>
                Create_at
              </th>
              <th>
                Score
              </th>
              <th>
                Is_Active
              </th>
              <th class="text-right">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor='let quiz of quizes'>
                <td>
                  {{quiz.content}}
                </td>
                <td>
                  {{quiz.type}}
                </td>
                <td>
                  {{quiz.level}}
                </td>
                <td>
                  {{quiz.create_at}}
                </td>
                <td>
                  {{quiz.score}}
                </td>
                <td>
                  {{quiz.is_active}}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-primary" [routerLink]="['/table']">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="delete(quiz.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
