
.container {
    margin-top: 200px;
    width: 500px;
}

h2 {
    font-weight: 600;
    text-align: center;
    margin: auto;
    margin-top: 30px;

}

.card card-container {
    width: 500px;
}

form {
    width: 400px;
    align-self: center;
}

button {
    display: flex;
    width: 100px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #ef8157;
    text-align: center;
}

label {
    font-weight: bold;
}

