<button type="button" class="btn btn-danger" [routerLink]="['/createExam']">Add new Exam</button>
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Exam management</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                Code
              </th>
              <th>
                Name
              </th>
              <th>
                Duration
              </th>
              <th class="text-right">
                Action
              </th>
            </thead>
            <tbody>
              <tr *ngFor='let exam of exams'>
                <td>
                  {{exam.exam_code}}
                </td>
                <td>
                  {{exam.exam_name}}
                </td>
                <td>
                  {{exam.duration}}
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-primary" [routerLink]="['/notifications']">Edit</button>
                  <button type="button" class="btn btn-danger" (click)="delete(exam.id)">Delete</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
