<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">User management</h4>
        <div class="alert alert-success" *ngIf="isChangedOk">{{message}}</div>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                User name
              </th>
              <th>
                Email
              </th>
              <th>
                Age
              </th>
              <th>
                Address
              </th>
              <th>
                Exam history
              </th>
              <th class="text-right">
                Set as admin
              </th>
            </thead>
            <tbody>
              <tr *ngFor='let user of users'>
                <td>
                  {{user.username}}
                </td>
                <td>
                  {{user.email}}
                </td>
                <td>
                  {{user.age}}
                </td>
                <td>
                  {{user.address}}
                </td>
                <td>
                  <button type="button" class="btn btn-primary" [routerLink]="['/dashboard']">View</button>
                </td>
                <td class="text-right">
                  <button type="button" class="btn btn-primary" (click)="changeRole(user.id)"
                    [routerLink]="['/table']">Set</button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
