<form action="action_page.php">
  <div class="container">
    <h1>Create new Quiz</h1>
    <p style="color:red"><i>(*) Please fill in this form to create a new quiz.</i></p>

    <div class="input-group mb-3">
      <div class="col-12">Categories</div>
      <select class="custom-select" [(ngModel)]="quiz.category.id"
        name="category"
        id="inputGroupSelect01">
        <option *ngFor="let cate of categories" [value]="cate.id">
          {{ cate.name }}</option>
      </select>
    </div>

    <br /><br />
    <label for="content"><b>Content</b></label>
    <textarea
      style="width: 400px; height: 200px"
      [(ngModel)]="quiz.content"
      name="content" id="content" required #name="ngModel"
    >
    </textarea>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="
      name.invalid && (name.dirty || name.touched)
      "
    >
      <span *ngIf="name.errors.required"
        >Content is required</span
      >
    </div>
    <br /><br />
    <div class="input-group mb-3">
      <div class="col-12">Level</div>
      <select
        class="custom-select"
        [(ngModel)]="quiz.level"
        name="level"
        id="inputGroupSelect01"
      >
        <option value="EASY">EASY</option>
        <option value="MEDIUM">MEDIUM</option>
        <option value="HARD">HARD</option>
      </select>
    </div>
    <br /><br />
    <label>Answer A</label>
    <textarea id="answer1" required
      name="answer1"
      placeholder="Enter the correct answer"
      [(ngModel)]="answer1.content" #name="ngModel"
    ></textarea>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="
      name.invalid && (name.dirty || name.touched)
      "
    >
      <span *ngIf="name.errors.required"
        >Answer is required</span
      >
    </div>

    <label>Answer B</label>
    <textarea id="answer2" required
      name="answer2"
      placeholder="Enter the incorrect answer"
      [(ngModel)]="answer2.content" #name="ngModel"
    ></textarea>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="
      name.invalid && (name.dirty || name.touched)
      "
    >
      <span *ngIf="name.errors.required"
        >Answer is required</span
      >
    </div>

    <label>Answer C</label>
    <textarea
      name="answer3" id="answer3" required
      placeholder="Enter the incorrect answer"
      [(ngModel)]="answer3.content" #name="ngModel"
    ></textarea>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="
      name.invalid && (name.dirty || name.touched)
      "
    >
      <span *ngIf="name.errors.required"
        >Answer is required</span
      >
    </div>

    <label>Answer D</label>
    <textarea
      name="answer4" id="answer4" required
      placeholder="Enter the incorrect answer"
      [(ngModel)]="answer4.content" #name="ngModel"
    ></textarea>
    <div
      class="alert alert-danger"
      role="alert"
      *ngIf="
      name.invalid && (name.dirty || name.touched)
      "
    >
      <span *ngIf="name.errors.required"
        >Answer is required</span
      >
    </div>

    <br /><br />
    <hr />
    <td>
      <button type="submit" class="btn btn-primary" (click)="createNew()">
        Submit
      </button>
    </td>
  </div>
</form>
