<div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header">
          <h5 class="title">Are you sure you want to log out?</h5>
        </div>
        <div class="card-body">
          <button class="btn btn-primary" (click)="logOut()" style="margin: auto; display: inline;">Log out</button>
          <button class="btn btn-danger" (click)="cancel()" style="margin: auto; display: inline;">Cancel</button>
        </div>
        </div>
      </div>
  </div>
  
  
