<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Record management</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th>
                #
              </th>
              <th>
                User
              </th>
              <th>
                Exam_code
              </th>
              <!-- <th>
                Started Time
              </th>
              <th>
                Finished Time
              </th> -->
              <th>
                Score
              </th>
            </thead>
            <tbody>
              <tr *ngFor='let record of records; let i = index' >
                <td>
                  {{i+1}}
                </td>
                <td>
                  {{record.appUser.username}}
                </td>
                <td>
                  {{record.exam.exam_code}}
                </td>
                <!-- <td>
                  {{record.started_at}}
                </td>
                <td>
                  {{record.finished_at}}
                </td> -->
                <td>
                  {{record.score}}/{{record.exam.score}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
