<td><button type="button" class="btn btn-primary" (click)="cancel()">Back to List</button></td>
<form >
  <div class="container">
    <h1>Detail</h1>
    <table>
      <tr>
        <th>Name: </th><td>{{currentExam.exam_name}}</td>
      </tr>
      <tr>
        <th>Code: </th><td>{{currentExam.exam_code}}</td>
      </tr>
      <tr>
        <th>Duration: </th><td>{{currentExam.duration}}</td>
      </tr>
    </table>
  </div>
</form>

<!-- <table mdbTable>
  <thead>
      <th>Content</th>
  </thead>
  <tbody>
    <tr mdbTableCol *ngFor="let quiz of currentExam.quizSet">
      <td>{{quiz.content}}</td>
    </tr>
  </tbody>
</table> -->
